div.nav {
  margin-top: 3rem;
}

.nav hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 2px solid #E1E1E1;
}

.nav a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  color: #0098FF;
}

@font-face {
    font-family: "ahoang";
    src: url('/font/ahoang.ttf') format("truetype");
}

.bagtag {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

.content div.bagtag {
  margin-top: 6rem;
}

.content .bagtag .ahoang {
  font-family: 'ahoang';
}

.content .bagtag #trapezoid {
	border-bottom: 60px solid #2B2B2B;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	height: 0;
	width: 180px;
  margin: 0 auto;
  padding-top: 10px;
}

.content .bagtag #circle {
  width: 20px;
	height: 20px;
	background: #BFBFBF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 1px;
}

.content .bagtag #rectangle {
  width: 300px;
	height: 350px;
	background: #2B2B2B;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 8px 8px 4px #BFBFBF;
}

.content .bagtag h6 {
  margin-bottom: 0px;
}

.content .bagtag h5 {
  margin-bottom: -5px;
}

.content .bagtag h2 {
  margin-bottom: -8px;
}

.content .bagtag span {
  display: block;
}

.content .bagtag hr.underline {
  margin-top: 0;
  margin-bottom: 10px;
}
